<header class="header">
  <div class="container grid header__container">
    <div class="header__left">
      <a href="#" class="logo header__logo">SneackMax</a>
    </div>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Collections</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Editorials</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Our Team</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Delivery and Payment</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
        </ul>
      </nav>
      <div class="cart header__cart">
        <button class="btn-reset cart cart__btn">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="cart__count">1</span>
        </button>
      </div>
    </div>
  </div>
</header>
