<header class="header"></header>
<header>
  <div class="container grid">
    <a href="#" class="logo header__logo">SneackMax</a>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Collections</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Editorials</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Our Team</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Delivery and Payment</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
        </ul>
      </nav>
      <button class="btn-reset cart header__cart">
        <svg>
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <span class="cart__count">1</span>
      </button>
    </div>
  </div>
</header>
